* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    scroll-behavior: smooth;
}

/* Header */
.nav-container {
    border: 1px solid black;
    max-width: 1280px;
    height: 3rem;
    margin: 2% 2% 3% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 0px black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    display: block;
    max-width: 50px;
    margin-left: 5px;
}

.logo-h4 {
    display: none;
    font-weight: 800;
    margin-left: 0.4rem;
    margin-top: 5px;
    letter-spacing: 0.4cap;
    /* box-shadow: 2px 2px 0px black; */
}

.logo-h4:hover {
    color: black;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #f5c346,
      0 0 42px #f5c346,
      0 0 82px #f5c346,
      0 0 92px #f5c346,
      0 0 102px #f5c346,
      0 0 151px #f5c346;
}

nav {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 1rem;
    font-size: 0.9rem;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    text-decoration: none;
    color: rgb(92,92,92);
}

.search img {
    max-width: 20px;
}

.search {
    padding-right: 4px;
    padding-top: 1px;
    display: none;
}

/* Articles */
.outer-cont {
    margin: 2% 2% 4rem 2%;
    padding-bottom: 3rem;
} 

.cont {
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    max-width: 1280px;
    font-weight: 300;
}

.it {
    min-height: 5rem;
    z-index: 20;
}

.img-container {
    position:relative;
    z-index: 20;
}

/* Category on top of images */
.category {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 3px 3px black;
    border: 1px solid black;
    white-space: nowrap;
}
.category a {
    text-decoration: none;
    color: black;
}
.category a:hover {
    color: rgb(92, 92, 92);
}

/* Articles */
.image {
    width: 100%;
    max-height: 25vh;
    object-fit: cover;
}
h4 {
    font-weight: 400;
    font-size: 0.8rem;
}
.it__h2 {
    margin: 1rem 0 0.5rem 0;
    text-align: left;
}
.cont a{
    text-decoration: none;
    color: black;
}
.cont a:hover {
    color: rgb(92, 92, 92);
}
/* Read more */
.readmoreoutercontainer {
    max-width: 1280px;
}
.readmorecontainer {
    display: flex;
    margin-bottom: 7rem;
}
.readmore {
    margin: 0 auto;
}
.readmoreh3 a {
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.readmore a:hover {
    color: rgb(92,92,92);
}

/* Video section */

.featuredvideo {
    background-color: black;
    display: grid;
}
.videocontainer {
    max-width: 1280px;
    margin: 0 auto;
}
.featuredvideo-h4 {
    margin-bottom: 1rem;
}
.featuredvideo-h4 a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    box-shadow: 3px 3px white;
}
.featuredvideo h3 {
    font-size: 1.3rem;
}
.featuredvideo a:hover {
    color: rgb(200, 200, 200);
}
.thevideo {
    display: block;
    padding: 3rem 0;
    margin: 0 auto;
    width: 100%;
    height: 30rem;
    border: none;
}
.videodescription {
    display: grid;
    gap: 1rem;
    color: white;
    align-self: center;
    margin: 2%;
    padding-bottom: 3rem;
    line-height: 1.6;
}

/* Social */
.socialoutercontainer {
    margin: 2% 2% 4rem 2%;
}
.socialcontainer {
    display: grid;
    margin: 4rem auto;
    max-width: 1280px;
    font-weight: 300;
}
.social {
    margin: 0 auto;
}
.media {
 margin: 3rem 0;
}
.media1 {
    display: flex;
    align-items: center;
}
.media h4 {
    border: 1px solid black;
    display: inline-block;
    box-shadow: 3px 3px black;
    padding: 5px 10px;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}
.media p {
    padding: 1rem 0;
}
.media img {
    max-width: 40px;
    max-height: 30px;
    margin-right: 1rem;
}
.newsletterbox {
    background: #f4f4f4;
    box-shadow: 5px 5px rgb(189, 189, 189);
}
.newsletter {
    padding: 3rem;
    text-align: center;
}
.sub {
    padding-top: 2rem;
}
.sub input {
    padding: 0.8rem 1.5rem;    border: none;
}
.sub button {
    padding: 0.8rem 1.5rem;
    border: none;
}
/* About */

/* Footer */
footer {
    background-color: grey;
    height: 30rem;
}

/* Media queries */
@media only screen and (min-width: 600px) {
    .logo-h4 {
        display:inline;
    }
    .search {
        display: block;
    }
    .cont {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin: 0 auto;
    }  
    .it5 {
        grid-column: span 2;
    }
    .featuredvideo {
        margin: 0 0;
    }
    .featuredvideo-h4 {
        padding-top: 3rem;
    }
    .videocontainer {
        margin: 2%;
        max-width: 1280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    .thevideo {
        margin: 0 auto;
    }

    .social {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        gap: 4rem;
        align-items: center;
    }

@media only screen and (min-width: 1000px) {
    .header {
        margin: 1rem 4rem;
    }
    .nav-container {
        max-width: 1280px;
        height: 3rem;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .outer-cont {
        margin: 1rem 4rem;
    } 
    .cont {
        display: grid;
        grid-template-columns: auto minmax(18vw, auto) auto;
        margin: 0 auto;
    }
    .first-art {
        position: absolute;
        top: 97%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        display: inline-block;
        padding: 5px 10px;
        box-shadow: 3px 3px black;
        border: 1px solid black;
        white-space: nowrap;
        font-size: 0.9rem;
    }
    .it1 {
        grid-column: 2;
        grid-row: span 2;
        font-size: 1.3rem;
    }    
    .it1 img {
        width: 100%;
        min-height: 50vh;
        object-fit: cover;
    }
    .it2 {
        grid-row: 1;
    }
    
    .it3 {
        grid-row: 2;
    }
    .it5 {
        grid-column: 3;
    }
    .videocontainer {
        margin: 1rem 4rem;
    }
    .videocontainerinside {
        margin: 0 auto;
    }   
    .videodescription {
        margin: 0;
        display: grid;
        gap: 1rem;
        color: white;
        align-self: center;
    }
    .socialoutercontainer {
        margin: 0rem 4rem;
    }

  }
}